{% include 'admin-template/base.html' %}
  {% load static %}
  <style>
    img{
    max-width:180px;
    }
    input[type=file]{
    padding:10px;
    background:#2d2d2d;}
  </style>
  
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Item Creation
        <small>Masters{{edit.id}} </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Item</li>
      </ol>
    </section>

    <!-- Main content -->
   
    <section class="content">
    
      <form action="itemupdate/{{edit.id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {% endif %}
        <!-- SELECT2 EXAMPLE -->
      
      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <label><h4><b>Type</b></h4></label> &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    <label>
                      <input type="radio" name="type" value="Goods" class="minimal" {% if edit.type == "Goods" %} checked {% endif %}> Goods &nbsp;  &nbsp; 
                      <input type="radio" name="type" value="Services" class="minimal" {% if edit.type == "Services" %} checked {% endif %} > Services
                    </label>
                    &nbsp;
                  </div>

                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" value="{{edit.name}}" class="form-control" name= "name" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                      <label>SKU</label>
                      <input type="text" class="form-control" value="{{edit.sku}}" name= "sku" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                    <label>Unit</label>
                    <select class="form-control select2" value="{{edit.unit}}" name="unit" style="width: 100%;">
                      <option selected disabled="True">-- Select unit --</option>
                      <option value="Nos" {% if edit.unit == "Nos" %} selected {% endif %}>Nos</option>
                      <option value="Kg" {% if edit.unit == "Kg" %} selected {% endif %}>Kg</option>
                      <option value="Pack" {% if edit.unit == "Pack" %} selected {% endif %}>Pack</option>
                      <option value="Unit" {% if edit.unit == "Unit" %} selected {% endif %}>Unit</option>
                   
                    </select>
                  </div>

                  <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="True" name="returnable_item" {% if edit.returnable_item %} checked {% endif %}> Returnable Item
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>HSN Code</label>
                      <input type="text" value="{{edit.hsn_code}}" class="form-control" placeholder="Enter ...">
                  </div>
                </div>
              </div>
              <br> <br> <br> 
                

              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <div class="uploadOuter">
                    
                    {% if edit.upload_image %}
                      <img id="blah" src="{{edit.upload_image.url}}" value="" alt="image here" "/>
                      
                    {% endif %}
                    <input type="file" name="upload_image" value="{{edit.upload_image}}" onchange="readURL(this);"/>
                    
                  </div>
                </div>
                
                <div class="form-group">
                  <label>Category</label>
                  <select class="form-control select2" value="{{edit.category}}" name="category" style="width: 100%;">
                    <option selected disabled="True">-- Select Category --</option>
                    <option value="Electronics" {% if edit.category == "Electronics" %} selected {% endif %}>Electronics</option>
                    <option value="Sports" {% if edit.category == "Sports" %} selected {% endif %}>Sports</option>
                    <option value="Cloths" {% if edit.category == "Cloths" %} selected {% endif %}>Cloths</option>
                    <option value="Footwear" {% if edit.category == "Footwear" %} selected {% endif %}>Footwear</option>
                    <option value="Grocery" {% if edit.category == "Grocery" %} selected {% endif %}>Grocery</option>
                    <option disabled="disabled">California(disabled)</option>
                  </select>
                </div>
                <div id="preview"></div>
              </div>
            </div>
          </div> 
        </div>
      </div>

      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <label>Dimensions</label>
                      <div class="input-group margin">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select
                          <span class="fa fa-caret-down"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">In</a></li>
                            <li><a href="#">Kg</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                        <input type="text" class="form-control" >
                      </div>
                  </div>
                            
                  <div class="form-group">
                    <label>Manufacturer</label>
                    <select class="form-control select2" value="{{edit.manufacturer}}" name="manufacturer" style="width: 100%;">
                      <option selected disabled="True">-- Select Manufacturer --</option>
                      <option value="Christian Dior" {% if edit.manufacturer == "Christian Dior" %} selected {% endif %}>Christian Dior</option>
                      <option value="Nike" {% if edit.manufacturer == "Nike" %} selected {% endif %}>Nike</option>
                      <option value="Delaware" {% if edit.manufacturer == "Delaware" %} selected {% endif %}>Delaware</option>
                      <option value="Addidas" {% if edit.manufacturer == "Addidas" %} selected {% endif %}>Addidas</option>
                      <option value="Puma" {% if edit.manufacturer == "Puma" %} selected {% endif %}>Puma</option>
                      <option value="Inditex" {% if edit.manufacturer == "Inditex" %} selected {% endif %}>Inditex</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>UPC</label>
                    <input type="text" value="{{edit.upc}}" name="upc" class="form-control" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                    <label>EAN</label>
                    <input type="text" value="{{edit.ean}}" name="ean" class="form-control" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                    <label>Design</label>
                    <input type="text" value="{{edit.design}}" name="design" class="form-control" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                    <label>Color</label>
                    <select class="form-control select2" value="{{edit.color}}" name="color" style="width: 100%;">
                      <option selected disabled="True">-- Select Color --</option>
                      <option value="Black" {% if edit.color == "Black" %} selected {% endif %}>Black</option>
                      <option value="Red" {% if edit.color == "Red" %} selected {% endif %}>Red</option>
                      <option value="Brown" {% if edit.color == "Brown" %} selected {% endif %}>Brown</option>
                      <option value="White" {% if edit.color == "White" %} selected {% endif %}>White</option>
                      <option value="Pink" {% if edit.color == "Pink" %} selected {% endif %}>Pink</option>
                      <option value="Green" {% if edit.color == "Green" %} selected {% endif %}>Green</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="" class="form-label">Bar Code Image</label>
                    {% if edit.barcode_image %}
                    <img id="blah" src="{{edit.barcode_image.url}}" alt="image here" onchange="readURL(this);"/>
                    {% else %}
                    <img id="blah" src="{% static 'images/item_images/INA.jpg' %}" alt="image here">
                    {% endif %}
                    <input type="file" value="barcode_image" name="barcode_image" >
                  </div>
                </div>
              </div>    
              
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Weight</label>
                        <div class="input-group margin">
                          <div class="input-group-btn">  
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Kg
                            <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                    </div>
                        
                    <div class="form-group">
                      <label>Brand</label>
                      <select class="form-control select2" value="{{edit.brand}}" name="brand" style="width: 100%;">
                        <option selected disabled="True">-- Select Brand --</option>
                        <option value="Puma" {% if edit.brand == "Puma" %} selected {% endif %}>Puma</option>
                        <option value="Nike" {% if edit.brand == "Nike" %} selected {% endif %}>Nike</option>
                        <option value="Delaware" {% if edit.brand == "Delaware" %} selected {% endif %}>Delaware</option>
                        <option value="Tennessee" {% if edit.brand == "Tennessee" %} selected {% endif %}>Tennessee</option>
                        <option value="Texas" {% if edit.brand == "Texas" %} selected {% endif %}>Texas</option>
                        <option value="Washington" {% if edit.brand == "Washington" %} selected {% endif %}>Washington</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>MPN</label>
                      <input type="text" value="{{edit.mpn}}" name="mpn" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>ISBN</label>
                      <input type="text" value="{{edit.isbn}}" name="isbn" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>Agency Charge</label>
                      <input type="text" value="{{edit.agency_charge}}" name="agency_charge" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>Price Code</label>
                      <input type="text" value="{{edit.price_code}}" name="price_code" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>Bar Code Image</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="True"  name="sales_information" {% if edit.sales_information %} checked {% endif %}> Sales Information
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Selling Price</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" value="{{edit.selling_price}}" name="selling_price" class="form-control">
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                            
                  <div class="form-group">
                    <label>Sales Account</label>
                    <select class="form-control select2" name="sales_account" style="width: 100%;"> 
                      <option selected disabled="True">-- Select Sales Account --</option>
                      <option value="SBI" {% if edit.sales_account == "SBI" %} selected {% endif %}>SBI</option>
                      <option value="PNB" {% if edit.sales_account == "PNB" %} selected {% endif %}>PNB</option>
                      <option value="Tennessee" {% if edit.sales_account == "Tennessee" %} selected {% endif %}>Tennessee</option>
                      <option value="Texas" {% if edit.sales_account == "Texas" %} selected {% endif %}>Texas</option>
                      <option value="Washington" {% if edit.sales_account == "Washington" %} selected {% endif %}>Washington</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"  name="sales_description" rows="3" placeholder="Enter ...">{{edit.sales_description}}</textarea>
                  </div>
                </div>
              </div>    

              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="True" name="purchase_information" {% if edit.purchase_information %} checked {% endif %} > Purchase Information
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Cost Price</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" value="{{edit.cost_price}}" name="cost_price" class="form-control">
                        <span class="input-group-addon">.00</span>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label>Purchase Account</label>
                      <select class="form-control select2" value="{{edit.purchase_account}}" name="purchase_account" style="width: 100%;">
                        <option selected disabled="True">-- Select Purchase Account --</option>
                        <option value="Alaska" {% if edit.purchase_account == "Alaska" %} selected {% endif %}>Alaska</option>
                        <option value="Delaware" {% if edit.purchase_account == "Delaware" %} selected {% endif %}>Delaware</option>
                        <option value="Tennessee" {% if edit.purchase_account == "Tennessee" %} selected {% endif %}>Tennessee</option>
                        <option value="Texas" {% if edit.purchase_account == "Texas" %} selected {% endif %}>Texas</option>
                        <option value="Washington" {% if edit.purchase_account == "Washington" %} selected {% endif %}>Washington</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control"  name="purchase_description" rows="3" placeholder="Enter ...">{{edit.purchase_description}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="True" name="track_inventory" {% if edit.track_inventory %} checked {% endif %}> &nbsp; &nbsp; Track Inventory for this Item
                        <h6>You cannot enable/disable inventory tracking once you've created transactions for this item</h6>
                      </label>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label>Inventory Account</label>
                    <select class="form-control select2" value="{{edit.inventory_account}}" name="inventory_account" style="width: 100%;">
                      <option selected disabled="True">-- Select Inventory Account --</option>
                      <option value="Alaska" {% if edit.inventory_account == "Alaska" %} selected {% endif %}>Alaska</option>
                      <option value="Delaware" {% if edit.inventory_account == "Delaware" %} selected {% endif %}>Delaware</option>
                      <option value="Tennessee" {% if edit.inventory_account == "Tennessee" %} selected {% endif %}>Tennessee</option>
                      <option value="Texas" {% if edit.inventory_account == "Texas" %} selected {% endif %}>Texas</option>
                      <option value="Washington" {% if edit.inventory_account == "Washington" %} selected {% endif %}>Washington</option>
                      <option disabled="disabled">California (disabled)</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Reorder Point</label>
                    <input type="text" value="{{edit.reorder_point}}" name="reorder_point" class="form-control" placeholder="Enter ...">
                  </div>

                  <div class="form-group">
                    <label>Preferred Vendor</label>
                    <select class="form-control select2" value="{{edit.preferred_vendor}}" name="preferred_vendor" style="width: 100%;">
                      <option selected disabled="True">-- Select Preferred Vendor --</option>
                      <option value="Alaska" {% if edit.preferred_vendor == "Alaska" %} selected {% endif %}>Alaska</option>
                      <option value="Delaware" {% if edit.preferred_vendor == "Delaware" %} selected {% endif %}>Delaware</option>
                      <option value="Tennessee" {% if edit.preferred_vendor == "Tennessee" %} selected {% endif %}>Tennessee</option>
                      <option value="Texas" {% if edit.preferred_vendor == "Texas" %} selected {% endif %}>Texas</option>
                      <option value="Washington" {% if edit.preferred_vendor == "Washington" %} selected {% endif %}>Washington</option>
                      <option disabled="disabled">California (disabled)</option>
                    </select>
                  </div>
                </div>
            </div>    

            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <br> <br> <br> <br>
                    <div class="form-group">
                      <label>Warehouse Name</label>
                      <select class="form-control select2" value="{{edit.warehouse_name}}" name="warehouse_name" style="width: 100%;">
                        <option selected disabled="True">-- Select Warehouse Name --</option>
                        <option value="101" {% if edit.warehouse_name == "101" %} selected {% endif %}>101</option>
                        <option value="102" {% if edit.warehouse_name == "102" %} selected {% endif %}>102</option>
                        <option value="103" {% if edit.warehouse_name == "103" %} selected {% endif %}>103</option>
                        <option value="104" {% if edit.warehouse_name == "104" %} selected {% endif %}>104</option>
                        <option value="105" {% if edit.warehouse_name == "105" %} selected {% endif %}>105</option>
                        <option disabled="disabled">106</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Opening Stock</label>
                      <input type="text"  name="opening_stock" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>Opening Stock Value</label>
                      <input type="text" name="opening_stock_value" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
              </div>
              
              <div class="box-footer">
                <input type="submit" name="update" value="Update"
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% for message in messages %}
      {% if message.tags == 'success' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
          var m = "{{ message }}";
          swal("Success !", m, "success")
        </script>
      </div>   
      {% endif %}
      {% endfor %}

      {% if error %}
      <div class="alert alert-danger" role="alert">
          {{error}}
      </div>
      {% endif %}
      </form>
      
    </section>
   
  </div>
 
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
            reader.onload = function (e) {
              $('#blah')
                .attr('src', e.target.result);
              };
              reader.readAsDataURL(input.files[0]);
          }
      }
    </script>
{% include 'admin-template/footer.html' %}