{% include 'admin-template/base.html' %}
  {% load static %}
  <!--Style to Upload Single Barcode Image-->
  <style>
    img{
    max-width:180px;
    }
    input[type=file]{
    padding:10px;
    background:#2d2d2d;}
  </style>
  <!--End of Style Style to Upload Single Barcode Image-->
  <!--Style To upload Multiple Item Images-->
  <style>
    html * {
      box-sizing: border-box;
    }

    p {
      margin: 0;
    }

    .upload__box {
      padding: 40px;
    }
    .upload__inputfile {
      width: .1px;
      height: .1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
      
    .upload__btn {
      display: inline-block;
      font-weight: 600;
      color: #fff;
      text-align: center;
      min-width: 116px;
      padding: 5px;
      transition: all .3s ease;
      cursor: pointer;
      border: 2px solid;
      background-color: #4045ba;
      border-color: #4045ba;
      border-radius: 10px;
      line-height: 26px;
      font-size: 14px;
    }    
    .upload__btn:hover {
      background-color: unset;
      color: #4045ba;
      transition: all .3s ease;
    }     
    .upload__btn-box {
      margin-bottom: 10px;
    }
    .upload__img-wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }  
    .upload__img-box {
      width: 200px;
      padding: 0 10px;
      margin-bottom: 12px;
    } 
    .upload__img-close {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
      line-height: 24px;
      z-index: 1;
      cursor: pointer;
    }
    .upload__img-close:after {
      content: '✖';
      font-size: 14px;
      color: white;
    }

    .img-bg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      padding-bottom: 100%;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
  <!--End of Style to upload Multiple Item Images-->
  

  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Item Creation
        <small>Masters</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Masters</a></li>
        <li class="active">Item</li>
      </ol>
    </section>

    <!-- Main content -->
    
    <section class="content">
      <form action="{% url 'item' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {% endif %}
        <!-- SELECT2 EXAMPLE -->
      
      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
              <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h3>Add Item <a href="itemshow"  class="btn btn-warning pull-right btn-lg">Go to Item Details</a></h3> 
                
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <label><h4><b>Type</b></h4></label> &nbsp; &nbsp; &nbsp;
                    &nbsp;
                    <label>
                      <input type="radio" name="type" value="Goods" group="type" class="minimal" required>Goods  &nbsp;&nbsp;&nbsp;
                      <input type="radio" name="type" value="Services" group="type" class="minimal" required>Services
                    </label>
                    &nbsp;
                    
                 
                  </div>

                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name= "name" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                      <label>SKU</label>
                      <input type="text" class="form-control" name= "sku" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                    <label>Unit</label>
                    <select class="form-control select2" name="unit" style="width: 100%;" required>
                      <option selected disabled="True">-- Select unit --</option>
                      <option value="Nos">Nos</option>
                      <option value="Kg">Kg</option>
                      <option value="Pack">Pack</option>
                      <option value="Unit">Unit</option>
                    </select>
                  </div>

                  <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="True" name="returnable_item"> Returnable Item
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>HSN Code</label>
                      <input type="text" class="form-control" placeholder="Enter ..." required>
                  </div>
                </div>
              </div>
              <br> <br> <br> 
                

              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <div class="upload__box">
                    <div class="upload__btn-box">
                      <label class="upload__btn">
                        <p>Upload Images</p>
                        <input type="file" multiple=""  name="upload_image" data-max_length="20" class="upload__inputfile">
                      </label>
                    </div>
                    <div class="upload__img-wrap"></div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label>Category</label>
                  <select class="form-control select2" name="category" style="width: 100%;" required>
                    <option selected disabled="True">-- Select Category --</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Sports">Sports</option>
                    <option value="Cloths">Cloths</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Grocery">Grocery</option>
                    <option disabled="disabled">California(disabled)</option>
                  </select>
                </div>
                <div id="preview"></div>
              </div>
            </div>
          </div> 
        </div>
      </div>

      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <label>Dimensions</label>
                      <div class="input-group margin">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select
                          <span class="fa fa-caret-down"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="#">In</a></li>
                            <li><a href="#">Kg</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                        <input type="text" class="form-control" >
                      </div>
                  </div>
                            
                  <div class="form-group">
                    <label>Manufacturer</label>
                    <select class="form-control select2" name="manufacturer" style="width: 100%;">
                      <option selected disabled="True">-- Select Manufacturer --</option>
                      <option value="Christian Dior">Christian Dior</option>
                      <option value="Nike">Nike</option>
                      <option value="Delaware">Delaware</option>
                      <option value="Addidas">Addidas</option>
                      <option value="Puma">Puma</option>
                      <option value="Inditex">Inditex</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>UPC</label>
                    <input type="text" name="upc" class="form-control" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                    <label>EAN</label>
                    <input type="text" name="ean" class="form-control" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                    <label>Design</label>
                    <input type="text" name="design" class="form-control" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                    <label>Color</label>
                    <select class="form-control select2" name="color" style="width: 100%;" required>
                      <option selected disabled="True">-- Select Color --</option>
                      <option value="Black">Black</option>
                      <option value="Red">Red</option>
                      <option value="Brown">Brown</option>
                      <option value="White">White</option>
                      <option value="Pink">Pink</option>
                      <option value="Green">Green</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Bar Code Image</label>
                    <input type="file" name="barcode_image" class="form-control">
                  </div>
                </div>
              </div>    
              
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Weight</label>
                        <div class="input-group margin">
                          <div class="input-group-btn">  
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Kg
                            <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                            </ul>
                          </div>
                          <input type="text" class="form-control">
                        </div>
                    </div>
                        
                    <div class="form-group">
                      <label>Brand</label>
                      <select class="form-control select2" name="brand" style="width: 100%;">
                        <option selected disabled="True">-- Select Brand --</option>
                        <option value="Puma">Puma</option>
                        <option value="Nike">Nike</option>
                        <option value="Delaware">Delaware</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Washington">Washington</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>MPN</label>
                      <input type="text" name="mpn" class="form-control" placeholder="Enter ..." required>
                    </div>

                    <div class="form-group">
                      <label>ISBN</label>
                      <input type="text" name="isbn" class="form-control" placeholder="Enter ..." required>
                    </div>

                    <div class="form-group">
                      <label>Agency Charge</label>
                      <input type="text" name="agency_charge" class="form-control" placeholder="Enter ..." required>
                    </div>

                    <div class="form-group">
                      <label>Price Code</label>
                      <input type="text" name="price_code" class="form-control" placeholder="Enter ..." required>
                    </div>

                    <div class="form-group">
                      <label>Bar Code Image</label>
                      <input type="text" class="form-control" placeholder="Enter ..." required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="True" name="sales_information"> Sales Information
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Selling Price</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" name="selling_price" class="form-control" required>
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                            
                  <div class="form-group">
                    <label>Sales Account</label>
                    <select class="form-control select2" name="sales_account" style="width: 100%;">
                      <option selected disabled="True">-- Select Sales Account --</option>
                      <option value="SBI">SBI</option>
                      <option value="PNB">PNB</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Washington">Washington</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="sales_description" rows="3" placeholder="Enter ..." ></textarea>
                  </div>
                </div>
              </div>    

              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="True" name="purchase_information" > Purchase Information
                        </label>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Cost Price</label>
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" name="cost_price" class="form-control" required>
                        <span class="input-group-addon">.00</span>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label>Purchase Account</label>
                      <select class="form-control select2" name="purchase_account" style="width: 100%;">
                        <option selected disabled="True">-- Select Purchase Account --</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Delaware">Delaware</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Washington">Washington</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" name="purchase_description" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box box-default">
        <div class="box-header with-border">
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                <div class="box-body">
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="True" name="track_inventory" > &nbsp; &nbsp; Track Inventory for this Item
                        <h6>You cannot enable/disable inventory tracking once you've created transactions for this item</h6>
                      </label>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label>Inventory Account</label>
                    <select class="form-control select2" name="inventory_account" style="width: 100%;">
                      <option selected disabled="True">-- Select Inventory Account --</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Delaware">Delaware</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Washington">Washington</option>
                      <option disabled="disabled">California (disabled)</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Reorder Point</label>
                    <input type="text" name="reorder_point" class="form-control" placeholder="Enter ..." required>
                  </div>

                  <div class="form-group">
                    <label>Preferred Vendor</label>
                    <select class="form-control select2" name="preferred_vendor" style="width: 100%;">
                      <option selected disabled="True">-- Select Preferred Vendor --</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Delaware">Delaware</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Washington">Washington</option>
                      <option disabled="disabled">California (disabled)</option>
                    </select>
                  </div>
                </div>
            </div>    

            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <br> <br> <br> <br>
                    <div class="form-group">
                      <label>Warehouse Name</label>
                      <select class="form-control select2" name="warehouse_name" style="width: 100%;">
                        <option selected disabled="True">-- Select WareHouse Name --</option>
                        <option value="101">101</option>
                        <option value="102">102</option>
                        <option value="103">103</option>
                        <option value="104">104</option>
                        <option value="105">105</option>
                        <option disabled="disabled">106</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Opening Stock</label>
                      <input type="text" name="opening_stock" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                      <label>Opening Stock Value</label>
                      <input type="text" name="opening_stock_value" class="form-control" placeholder="Enter ...">
                    </div>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="itemshow"  class="btn btn-warning">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% for message in messages %}
      {% if message.tags == 'success' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
          var m = "{{ message }}";
          swal("Success !", m, "success")
        </script>
      </div>   
      {% endif %}
      
      {% if message.tags == 'warning' %}
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script>
            var m = "{{ message }}";
            swal("Error !", m, "warning")
          </script>
        </div>   
        {% endif %}
      {% endfor %}

      </form>
    </section>
  </div>
  <!--Script to Upload Single Barcode Image-->
    <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
            reader.onload = function (e) {
              $('#blah')
                .attr('src', e.target.result);
              };
              reader.readAsDataURL(input.files[0]);
          }
      }
    </script>
    <!--End of Script to Upload Single Barcode Image-->
    <!--Script to Upload Multiple Item Image-->
    <script>
      jQuery(document).ready(function () {
        ImgUpload();
      });

      function ImgUpload() {
      var imgWrap = "";
      var imgArray = [];

      $('.upload__inputfile').each(function () {
        $(this).on('change', function (e) {
          imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
          var maxLength = $(this).attr('data-max_length');

          var files = e.target.files;
          var filesArr = Array.prototype.slice.call(files);
          var iterator = 0;
          filesArr.forEach(function (f, index) {

            if (!f.type.match('image.*')) {
              return;
            }

            if (imgArray.length > maxLength) {
              return false
            } else {
              var len = 0;
              for (var i = 0; i < imgArray.length; i++) {
                if (imgArray[i] !== undefined) {
                  len++;
                }
              }
              if (len > maxLength) {
                return false;
              } else {
                imgArray.push(f);

                var reader = new FileReader();
                reader.onload = function (e) {
                  var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-number='" + $(".upload__img-close").length + "' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'></div></div></div>";
                  imgWrap.append(html);
                  iterator++;
                }
                reader.readAsDataURL(f);
              }
            }
          });
        });
      });

      $('body').on('click', ".upload__img-close", function (e) {
        var file = $(this).parent().data("file");
        for (var i = 0; i < imgArray.length; i++) {
          if (imgArray[i].name === file) {
            imgArray.splice(i, 1);
            break;
          }
        }
        $(this).parent().parent().remove();
      });
      }
    </script>
    <!--End of Script to Upload Multiple Item Image-->
{% include 'admin-template/footer.html' %}